html{
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}
.nav{
    background: linear-gradient(135deg, #000000, #2c2c2c);
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.portfolio{
    width:120px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 20px;
    color: white;
}
.portfolio span{
    color: rgb(0, 205, 251);
}
.menubtn{
    border: 1px solid transparent;
    width:40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 20px;
}
.menubtn:hover{
    cursor: pointer;
    border: 1px solid white;
    border-radius:5px;
}
.menubtn img{
    width: 90%;
    height: 90%;
}
.menu_baar{
    /* border: 1px solid white; */
    box-shadow: -2px 2px 10px rgba(255, 255, 255, 0.5);
    position: fixed;
    width: 200px;
    height: 500px;
    top: 60px;
    right: -250px;
    transition: all 0.3s ease;
    border-radius: 5px;
    background: linear-gradient(135deg, #000000, #2c2c2c);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-around; */
    z-index: 10;
}
.close_menu{
    border: 1px solid transparent;
    position: absolute;
    width: 35px;
    height:35px;
    left: 0px;
    top: 0px;
    border-radius: 5px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 0.3s ease;
}
.close_menu:hover{
    cursor: pointer;
    border: 1px solid white;
    border-radius:5px;
}
.close_menu div{
    /* border: 1px solid white; */
    width: 20px;
    height: 3px;
    background: white ;
    
}
.close_menu .close_menu1{
    transform: translateY(5px) rotate(45deg);
}
.close_menu .close_menu2{
    transform: translateY(-3px) rotate(-45deg);
}

.menu_baar.open{
    right: 0px;
}
.menu_baar ul{
    /* border: 1px solid white; */
    list-style: none;
    width: 60%;
    height:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px;
    margin-top: 10px;

}
.menu_baar ul li{
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    border-radius: 5px;
    transition: all 0.3s ease;

}
.menu_baar ul li:hover{
    cursor: pointer;
    /* border: 1px solid white; */
    
}
.menu_baar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size:16px;
}
.menu_baar ul li a:hover{
    color: rgb(0, 205, 251);
}
.nav_list_container{
    width: 70%;
    height: 80%;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.nav_list_container ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: space-around;
    padding:0;
    margin: 0;
    
}
.nav_list_container ul li{
    border: 1px solid transparent;
    width:80px;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:5px;
    transition: all 0.3s ease;
}
.nav_list_container ul li:hover{
    cursor: pointer;  
}

.nav_list_container ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size:14px;
}
.nav_list_container ul li a:hover{
    color: rgb(0, 205, 251);
}
.main_container{
    background: linear-gradient(135deg, #000000, #2c2c2c);
    width: 100%;
    height: calc(100vh - 60px);
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:20px;
    box-sizing: border-box;
    margin-top: 60px;
}
.main_img{
    /* border: 1px solid black; */
    width: 250px;
    height: 250px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.img_place{
    width: 90%;
    height: 90%;
    border: 2px solid rgb(0, 205, 251);
    border-radius: 50% 50% 50% 50%;
    background-color: rgb(255, 255, 0);
}
.main_img img{
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 50% 50%;
    object-fit: cover;
}
.main_container_bio{
    /* border: 1px solid rgb(255, 255, 255); */
    width:60%;
    margin-left:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.nav_first_para{
    /* border: 1px solid rgb(255, 255, 255); */
    width: 90%;
    height: 200px;
    font-size:14px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding:20px;
    text-align: left;
    line-height: 1.50;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}   
.nav_first_para .span_hello{
    font-size:24px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}
.nav_first_para .span_name{
    font-size:32px;
    color: rgb(0, 205, 251);
    font-weight: bold;
    margin-bottom: 10px;
}
.accounts_contacts{
    width:100%;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}
.accounts_contacts a{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}
.accounts_contacts img{
    width:30px;
    height:30px;
    cursor: pointer;
}
.education, .skills, .projects, .about_us, .contact{
    background: linear-gradient(135deg, #000000, #2c2c2c);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height:calc(100vh - 60px);
    padding:20px;
    box-sizing: border-box;
}
h2 {
    color: white;
    margin-bottom: 20px;
}
.education {
    overflow-x: auto;
}
.education_table{
    min-width: 300px;
    min-height: 300px;
    background: linear-gradient(135deg, #1a1a1a, #333333);
    box-shadow: 1px 1px 10px rgba(0, 205, 251, 0.8);
    color: white;
    border-radius: 10px;
}
.education_table, th ,td {
    border: 1px solid rgb(0, 205, 251); 
    border-collapse: collapse;
    text-align: start;
    font-size: 16px;
    padding: 10px;
}

.skills .skills-container{
    width:80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto; 
}
.skill-card{
    /* border: 1px solid white; */
    width: 150px;
    height: 180px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 20px;
    box-shadow: 1px 1px 8px rgba(0, 205, 251, 0.8);
}
.skill-card img{
    /* border: 1px solid white; */
    background: white;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.skill-card h3{
    font-size: 18px;
}

.projects{
    border: 1px solid white;
    flex-direction: column;
}

.projects ul{
    width: 80%;
    height: auto;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: auto;
    color: white;
}

.projects ul li{
    /* border: 1px solid white; */
    margin: 10px;
    width:100%;
}
.projects ul li a{
    text-decoration: none;
    color: rgb(0, 205, 251);
    font-size: 18px;
    font-weight: bold;
}
.about_us{
    /* border: 1px solid white; */
    width: 100%;
    overflow-y: auto;
    color: white;
}
.about_us p{
    /* border: 1px solid white; */
    width: 95%;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}


/* media Query For Making Web Responsive  for small screen*/
@media(max-width:600px){
    .nav_list_container{
        display: none;
    }
    .main_container{
        flex-direction: column !important;
    }
    .main_container_bio{
        width: 100%;
        margin-left: 0px;
        padding:10px;
    }
    .nav_first_para{
        width: 100%;
        height: auto;
        font-size:16px;
        padding:10px;
        text-align: center;
        
    }
    .education_table{
        width: 100%;
        min-width: 300px;
        margin-left: 200px;
    }
     .skills .skills-container{
        width:100%;
        height: auto;
    }
     .projects ul{
        min-width: 100%;
    }
    
}

/* media Query For Making Web Responsive  for large screen */
@media(min-width:600px){
    .menubtn{
        display: none;
    }
}




